name: Node CI

on:
  push:
  pull_request:

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    timeout-minutes: 15

    strategy:
      fail-fast: false
      matrix:
        node-version: [22.8.x]

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - name: Prepare Environment
        run: |
          yarn install
        env:
          CI: true
      - name: Test jest
        run: |
          yarn test
        env:
          CI: true
      - name: Test tsc
        run: |
          yarn build
        env:
          CI: true
      - name: Test package
        run: |
          yarn companion-module-build
        env:
          CI: true